In [869]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import os
import warnings
warnings.filterwarnings(action='ignore')

# 한글 깨짐 방지
plt.rcParams['font.family'] = 'Malgun Gothic'

In [870]:
# 데이터 불러오기
import pandas as pd
df_개별 = pd.read_csv('../csv/raw_data_개별.csv', encoding='cp949')
df_연결 = pd.read_csv('../csv/raw_data_연결.csv',  encoding='cp949')

In [871]:
# 연결과 개별 데이터의 중복 된 컬럼 확인하기
df_연결.info(verbose=True)
# df_개별.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15801 entries, 0 to 15800
Data columns (total 141 columns):
 #    Column                             Dtype
---   ------                             -----
 0    회사명                                object
 1    거래소코드                              int64
 2    회계년도                               object
 3    [제조]총자본증가율(IFRS연결)                 float64
 4    [제조]유형자산증가율(IFRS연결)                float64
 5    [제조]투자부동산증가율(IFRS연결)               float64
 6    [제조]비유동자산증가율(IFRS연결)               float64
 7    [제조]유동자산증가율(IFRS연결)                float64
 8    [제조]재고자산증가율(IFRS연결)                float64
 9    [제조]자기자본증가율(IFRS연결)                float64
 10   [제조]매출액증가율(IFRS연결)                 float64
 11   [제조]정상영업이익증가율(IFRS연결)              float64
 12   [제조]순이익증가율(IFRS연결)                 float64
 13   [제조]총포괄이익증가율(IFRS연결)               float64
 14   [제조]매출액총이익률(IFRS연결)                float64
 15   [제조]매출액정상영업이익률(IFRS연결)             float64
 16   [제조]매출액순이익률(IFRS연결)                float64
 17   [제조]총자본사업이익률(IFRS연결)               float64
 18   [제조]총자본정상영업이익률(IFRS연결)             float64
 19   [제조]총자본순이익률(IFRS연결)                float64
 20   [제조]자기자본정상영업이익률(IFRS연결)            float64
 21   [제조]자기자본순이익률(IFRS연결)               float64
 22   [제조]경영자본정상영업이익률(IFRS연결)            float64
 23   [제조]경영자본순이익률(IFRS연결)               float64
 24   [제조]자본금정상영업이익률(IFRS연결)             float64
 25   [제조]자본금순이익률(IFRS연결)                float64
 26   [제조]매출원가 대 매출액비율(IFRS연결)           float64
 27   [제조]영업비용 대 영업수익비율(IFRS연결)          float64
 28   [제조]기타손익비률(IFRS연결)                 float64
 29   [제조]금융손익비율(IFRS연결)                 float64
 30   [제조]금융비용부담률(IFRS연결)                float64
 31   [제조]외환이익 대 매출액비율(IFRS연결)           float64
 32   [제조]광고선전비 대 매출액비율(IFRS연결)          float64
 33   [제조]세금과공과 대 세금과공과 차감전순이익률(IFRS연결)  float64
 34   [제조]기업순이익률(IFRS연결)                 float64
 35   [제조]수지비율(관계기업투자손익 제외)(IFRS연결)      float64
 36   [제조]인건비 대 총비용비율(IFRS연결)            float64
 37   [제조]R & D 투자효율(IFRS연결)             float64
 38   [제조]세금과공과 대 총비용비율(IFRS연결)          float64
 39   [제조]금융비용 대 총비용비율(IFRS연결)           float64
 40   [제조]감가상각비 대 총비용비율(IFRS연결)          float64
 41   [제조]감가상각률(IFRS연결)                  float64
 42   [제조]누적감가상각률(IFRS연결)                float64
 43   [제조]이자부담률(IFRS연결)                  float64
 44   [제조]지급이자율(IFRS연결)                  float64
 45   [제조]차입금평균이자율(IFRS연결)               float64
 46   [제조]유보율(IFRS연결)                    float64
 47   [제조]사내유보율(IFRS연결)                  float64
 48   [제조]사내유보 대 자기자본비율(IFRS연결)          float64
 49   [제조]적립금비율(재정비율)(IFRS연결)            float64
 50   [제조]평균배당률(IFRS연결)                  float64
 51   [제조]자기자본배당률(IFRS연결)                float64
 52   [제조]배당성향(IFRS연결)                   float64
 53   [제조]1주당매출액(IFRS연결)                 float64
 54   [제조]1주당순이익(IFRS연결)                 float64
 55   [제조]1주당 CASH FLOW(IFRS연결)          float64
 56   [제조]1주당순자산(IFRS연결)                 float64
 57   [제조]1주당정상영업이익(IFRS연결)              float64
 58   [제조]유동자산구성비율(IFRS연결)               float64
 59   [제조]재고자산 대 유동자산비율(IFRS연결)          float64
 60   [제조]유동자산 대 비유동자산비율(IFRS연결)         float64
 61   [제조]당좌자산구성비율(IFRS연결)               float64
 62   [제조]비유동자산구성비율(IFRS연결)              float64
 63   [제조]자기자본구성비율(IFRS연결)               float64
 64   [제조]타인자본구성비율(IFRS연결)               float64
 65   [제조]자기자본배율(IFRS연결)                 float64
 66   [제조]비유동비율(IFRS연결)                  float64
 67   [제조]비유동장기적합률(IFRS연결)               float64
 68   [제조]유동비율(IFRS연결)                   float64
 69   [제조]당좌비율(IFRS연결)                   float64
 70   [제조]현금비율(IFRS연결)                   float64
 71   [제조]매출채권비율(IFRS연결)                 float64
 72   [제조]재고자산 대 순운전자본비율(IFRS연결)         float64
 73   [제조]매출채권 대 매입채무비율(IFRS연결)          float64
 74   [제조]매출채권 대 상                       float64
 75   제품비율(IFRS연결)                       float64
 76   [제조]매입채무 대 재고자산비율(IFRS연결)          float64
 77   [제조]부채비율(IFRS연결)                   float64
 78   [제조]유동부채비율(IFRS연결)                 float64
 79   [제조]단기차입금 대 총차입금비율(IFRS연결)         float64
 80   [제조]비유동부채비율(IFRS연결)                float64
 81   [제조]비유동부채 대 순운전자본비율(IFRS연결)        float64
 82   [제조]순운전자본비율(IFRS연결)                float64
 83   [제조]차입금의존도(IFRS연결)                 float64
 84   [제조]차입금비율(IFRS연결)                  float64
 85   [제조]이자보상배율(이자비용)(IFRS연결)           float64
 86   [제조]이자보상배율(순금융비용)(IFRS연결)          float64
 87   [제조]유보액대비율(IFRS연결)                 float64
 88   [제조]유보액 대 납입자본배율(IFRS연결)           float64
 89   [제조]유동자산집중도(IFRS연결)                float64
 90   [제조]비유동자산집중도(IFRS연결)               float64
 91   [제조]투자집중도(IFRS연결)                  float64
 92   [제조]CASH FLOW 대 부채비율(IFRS연결)       float64
 93   [제조]CASH FLOW 대 차입금비율(IFRS연결)      float64
 94   [제조]CASH FLOW 대 총자본비율(IFRS연결)      float64
 95   [제조]CASH FLOW 대 매출액비율(IFRS연결)      float64
 96   [제조]정상영업이익대비이자보상배율(IFRS연결)         float64
 97   [제조]총자본회전률(IFRS연결)                 float64
 98   [제조]경영자본회전률(IFRS연결)                float64
 99   [제조]자기자본회전률(IFRS연결)                float64
 100  [제조]자본금회전률(IFRS연결)                 float64
 101  [제조]타인자본회전률(IFRS연결)                float64
 102  [제조]매입채무회전률(IFRS연결)                float64
 103  [제조]매입채무회전기간(IFRS연결)               float64
 104  [제조]유동자산회전률(IFRS연결)                float64
 105  [제조]당좌자산회전률(IFRS연결)                float64
 106  [제조]재고자산회전률(IFRS연결)                float64
 107  [제조]재고자산회전기간(IFRS연결)               float64
 108  [제조]상품                             float64
 109  제품회전률(IFRS연결)                      float64
 110  [제조]원                              float64
 111  부재료회전률(IFRS연결)                     float64
 112  [제조]재공품회전률(IFRS연결)                 float64
 113  [제조]매출채권회전률(IFRS연결)                float64
 114  [제조]매출채권회전기간(IFRS연결)               float64
 115  [제조]비유동자산회전률(IFRS연결)               float64
 116  [제조]유형자산회전율(IFRS연결)                float64
 117  [제조]순운전자본회전률(IFRS연결)               float64
 118  [제조]운전자본회전률(IFRS연결)                float64
 119  [제조]1회전기간(IFRS연결)                  float64
 120  [제조]노동장비율(IFRS연결)                  float64
 121  [제조]기계장비율(IFRS연결)                  float64
 122  [제조]자본집약도(IFRS연결)                  float64
 123  [제조]총자본투자효율(IFRS연결)                float64
 124  [제조]설비투자효율(IFRS연결)                 float64
 125  [제조]기계투자효율(IFRS연결)                 float64
 126  [제조]부가가치율(IFRS연결)                  float64
 127  [제조]노동소득분배율(IFRS연결)                float64
 128  [제조]자본분배율(IFRS연결)                  float64
 129  [제조]이윤분배율(IFRS연결)                  float64
 130  [제조]부가가치(IFRS연결)                   float64
 131  [제조]법인세비용차감전(계속사업)손익(IFRS연결)       float64
 132  [제조]인건비(IFRS연결)                    float64
 133  [제조]금융비용(IFRS연결)                   float64
 134  [제조]임차료(IFRS연결)                    float64
 135  [제조]세금과공과(IFRS연결)                  float64
 136  [제조]감가상각비(IFRS연결)                  float64
 137  [제조]종업원1인당 부가가치(IFRS연결)            float64
 138  [제조]총자본투자효율(IFRS연결).1              float64
 139  [제조]기계투자효율(IFRS연결).1               float64
 140  [제조]부가가치율(IFRS연결).1                float64
dtypes: float64(138), int64(1), object(2)
memory usage: 17.0+ MB

In [872]:
## 전부 결측치인 컬럼 삭제
df_연결.drop(['[제조]총자본투자효율(IFRS연결).1', '[제조]기계투자효율(IFRS연결).1', '[제조]부가가치율(IFRS연결).1', '[제조]종업원1인당 부가가치(IFRS연결)'], axis=1, inplace=True)
df_개별.drop(['[제조]총자본투자효율(IFRS).1', '[제조]기계투자효율(IFRS).1', '[제조]부가가치율(IFRS).1', '[제조]종업원1인당 부가가치(IFRS)'], axis=1, inplace=True)

In [873]:
## 컬럼명 통일 (combine 함수 사용 목적)
df_연결.columns = ['회사명', '거래소코드', '회계년도', '총자본증가율', '유형자산증가율', '투자부동산증가율', '비유동자산증가율',
                      '유동자산증가율', '재고자산증가율', '자기자본증가율', '매출액증가율', '정상영업이익증가율', '순이익증가율', '총포괄이익증가율', 
                      '매출액총이익률', '매출액정상영업이익률', '매출액순이익률', '총자본사업이익률', '총자본정상영업이익률', '총자본순이익률', '자기자본정상영업이익률',
                      '자기자본순이익률', '경영자본정상영업이익률', '경영자본순이익률', '자본금정상영업이익률', '자본금순이익률', '매출원가 대 매출액비율',
                      '영업비용 대 영업수익비율', '기타손익비률', '금융손익비율', '금융비용부담률', '외환이익 대 매출액비율', '광고선전비 대 매출액비율',
                      '세금과공과 대 세금과공과 차감전순이익률', '기업순이익률', '수지비율(관계기업투자손익 제외)', '인건비 대 총비용비율', 'R & D 투자효율',
                      '세금과공과 대 총비용비율', '금융비용 대 총비용비율', '감가상각비 대 총비용비율', '감가상각률', '누적감가상각률', '이자부담률', '지급이자율',
                      '차입금평균이자율', '유보율', '사내유보율', '사내유보 대 자기자본비율', '적립금비율(재정비율)', '평균배당률', '자기자본배당률',
                      '배당성향', '1주당매출액', '1주당순이익', '1주당 CASH FLOW', '1주당순자산', '1주당정상영업이익', '유동자산구성비율', '재고자산 대 유동자산비율',
                      '유동자산 대 비유동자산비율', '당좌자산구성비율', '비유동자산구성비율', '자기자본구성비율', '타인자본구성비율', '자기자본배율', '비유동비율',
                      '비유동장기적합률', '유동비율', '당좌비율', '현금비율', '매출채권비율', '재고자산 대 순운전자본비율', '매출채권 대 매입채무비율', '매출채권 대 상',
                      '제품비율', '매입채무 대 재고자산비율', '부채비율', '유동부채비율', '단기차입금 대 총차입금비율', '비유동부채비율', '비유동부채 대 순운전자본비율',
                      '순운전자본비율', '차입금의존도', '차입금비율', '이자보상배율(이자비용)', '이자보상배율(순금융비용)', '유보액대비율', '유보액 대 납입자본배율', 
                      '유동자산집중도', '비유동자산집중도', '투자집중도', 'CASH FLOW 대 부채비율', ' CASH FLOW 대 차입금비율', 'CASH FLOW 대 총자본비율', 'CASH FLOW 대 매출액비율',
                      '정상영업이익대비이자보상배율', '총자본회전률', '경영자본회전률', '자기자본회전률', '자본금회전률', '타인자본회전률', '매입채무회전률', '매입채무회전기간', '유동자산회전률',
                      '당좌자산회전률', '재고자산회전률', '재고자산회전기간', '상품', '제품회전률', '원', '부재료회전률', '재공품회전률', '매출채권회전률', '매출채권회전기간',
                      '비유동자산회전률', '유형자산회전율', '순운전자본회전률', '운전자본회전률', '1회전기간', '노동장비율','기계장비율', '자본집약도', '총자본투자효율', 
                      '설비투자효율', '기계투자효율', '부가가치율', '노동소득분배율', '자본분배율', '이윤분배율', '부가가치', '법인세비용차감전(계속사업)손익', '인건비', 
                      '금융비용', '임차료', '세금과공과', '감가상각비']

df_개별.columns = ['회사명', '거래소코드', '회계년도', '총자본증가율', '유형자산증가율', '투자부동산증가율', '비유동자산증가율',
                      '유동자산증가율', '재고자산증가율', '자기자본증가율', '매출액증가율', '정상영업이익증가율', '순이익증가율', '총포괄이익증가율', 
                      '매출액총이익률', '매출액정상영업이익률', '매출액순이익률', '총자본사업이익률', '총자본정상영업이익률', '총자본순이익률', '자기자본정상영업이익률',
                      '자기자본순이익률', '경영자본정상영업이익률', '경영자본순이익률', '자본금정상영업이익률', '자본금순이익률', '매출원가 대 매출액비율',
                      '영업비용 대 영업수익비율', '기타손익비률', '금융손익비율', '금융비용부담률', '외환이익 대 매출액비율', '광고선전비 대 매출액비율',
                      '세금과공과 대 세금과공과 차감전순이익률', '기업순이익률', '수지비율(관계기업투자손익 제외)', '인건비 대 총비용비율', 'R & D 투자효율',
                      '세금과공과 대 총비용비율', '금융비용 대 총비용비율', '감가상각비 대 총비용비율', '감가상각률', '누적감가상각률', '이자부담률', '지급이자율',
                      '차입금평균이자율', '유보율', '사내유보율', '사내유보 대 자기자본비율', '적립금비율(재정비율)', '평균배당률', '자기자본배당률',
                      '배당성향', '1주당매출액', '1주당순이익', '1주당 CASH FLOW', '1주당순자산', '1주당정상영업이익', '유동자산구성비율', '재고자산 대 유동자산비율',
                      '유동자산 대 비유동자산비율', '당좌자산구성비율', '비유동자산구성비율', '자기자본구성비율', '타인자본구성비율', '자기자본배율', '비유동비율',
                      '비유동장기적합률', '유동비율', '당좌비율', '현금비율', '매출채권비율', '재고자산 대 순운전자본비율', '매출채권 대 매입채무비율', '매출채권 대 상',
                      '제품비율', '매입채무 대 재고자산비율', '부채비율', '유동부채비율', '단기차입금 대 총차입금비율', '비유동부채비율', '비유동부채 대 순운전자본비율',
                      '순운전자본비율', '차입금의존도', '차입금비율', '이자보상배율(이자비용)', '이자보상배율(순금융비용)', '유보액대비율', '유보액 대 납입자본배율', 
                      '유동자산집중도', '비유동자산집중도', '투자집중도', 'CASH FLOW 대 부채비율', ' CASH FLOW 대 차입금비율', 'CASH FLOW 대 총자본비율', 'CASH FLOW 대 매출액비율',
                      '정상영업이익대비이자보상배율', '총자본회전률', '경영자본회전률', '자기자본회전률', '자본금회전률', '타인자본회전률', '매입채무회전률', '매입채무회전기간', '유동자산회전률',
                      '당좌자산회전률', '재고자산회전률', '재고자산회전기간', '상품', '제품회전률', '원', '부재료회전률', '재공품회전률', '매출채권회전률', '매출채권회전기간',
                      '비유동자산회전률', '유형자산회전율', '순운전자본회전률', '운전자본회전률', '1회전기간', '노동장비율','기계장비율', '자본집약도', '총자본투자효율', 
                      '설비투자효율', '기계투자효율', '부가가치율', '노동소득분배율', '자본분배율', '이윤분배율', '부가가치', '법인세비용차감전(계속사업)손익', '인건비', 
                      '금융비용', '임차료', '세금과공과', '감가상각비']

In [874]:
# 연결데이터와 개별데이터 합치기
filled_df = df_연결.combine_first(df_개별)

In [875]:
# 회계년도 확인
filled_df['회계년도'].unique()

array(['2011/12', '2012/12', '2013/12', '2014/12', '2015/12', '2016/12',
       '2017/12', '2018/12', '2019/12', '2011/11', '2011/09', '2012/09',
       '2013/09', '2014/09', '2015/09', '2016/09', '2017/09', '2018/09',
       '2019/09', '2011/03', '2012/03', '2013/03', '2014/03', '2015/03',
       '2016/03', '2017/03', '2017/06', '2018/06', '2019/06', '2011/06',
       '2012/06', '2013/06', '2014/06', '2015/06', '2016/06', '2018/03',
       '2019/03', '2017/02', '2018/02', '2019/02', '2011/08', '2012/08',
       '2013/08', '2014/08', '2015/08', '2016/08', '2017/08', '2018/08',
       '2019/08', '2011/10', '2012/11', '2013/11', '2014/11', '2015/11',
       '2016/11', '2017/11', '2018/11', '2019/11'], dtype=object)

In [876]:
# 결산월 12월만 남기기
edit = filled_df.drop(filled_df[(filled_df['회계년도'] != '2011/12') & (filled_df['회계년도'] != '2012/12') & (filled_df['회계년도'] != '2013/12') & 
                      (filled_df['회계년도'] != '2014/12') & (filled_df['회계년도'] != '2015/12') & (filled_df['회계년도'] != '2016/12') & 
                      (filled_df['회계년도'] != '2017/12') & (filled_df['회계년도'] != '2018/12') & (filled_df['회계년도'] != '2019/12')].index)

In [877]:
edit['회계년도'].value_counts()

2017/12    1771
2018/12    1766
2019/12    1766
2016/12    1753
2015/12    1729
2014/12    1689
2013/12    1664
2012/12    1646
2011/12    1641
Name: 회계년도, dtype: int64

In [878]:
# 회계년도 월 삭제 & 숫자형으로 변환
edit['회계년도'] = edit['회계년도'].apply(lambda x: x.replace('/12', ''))
edit['회계년도'] = edit['회계년도'].astype('int64')

In [879]:
# 중복 데이터 제거 (중복 데이터 중 첫번째만 살리기)
edit = edit.drop_duplicates(keep='first')

In [880]:
# 회사명 숫자 확인 (9개년 데이터라 최대 9개까지 존재해야 정상)
firm_name = pd.DataFrame(edit['회사명'].value_counts())
firm_name[firm_name['회사명'] > 9]

              회사명
에스케이오션플랜트(주)   18
(주)셀트리온        15
(주)카카오         14
(주)신성이엔지       14
삼성물산(주)        13
에스케이(주)        13
(주)포인트엔지니어링    12
(주)포스코케미칼      12
(주)자비스         12
(주)정다운         11
나무기술(주)        11
(주)엔케이맥스       10
씨아이에스(주)       10
(주)인산가         10

In [881]:
# 회사명 하나에 거래소 코드가 복수인 경우
check = edit.groupby(['회사명'])['거래소코드'].nunique().reset_index()
check.rename(columns={'거래소코드':'거래소코드_개수'}, inplace=True)
check = check[check['거래소코드_개수']>1]
check

               회사명  거래소코드_개수
274          (주)본느         2
420       (주)신성이엔지         2
610       (주)엔케이맥스         2
806         (주)인산가         2
831         (주)자비스         2
836         (주)정다운         2
1085   (주)포인트엔지니어링         2
1256       나무기술(주)         2
1419       삼성물산(주)         2
1502      씨아이에스(주)         2
1557       에스케이(주)         2
1566  에스케이오션플랜트(주)         2

In [882]:
# 거래소 코드 하나에 회사명이 복수인 경우
a = pd.DataFrame(edit.groupby(['거래소코드'])['회사명'].nunique())
a.reset_index(inplace=True)
a[a['회사명'].values >=2]

     거래소코드  회사명
678  36420    2

In [883]:
edit[edit['거래소코드'] ==36420]

,회사명,거래소코드,회계년도,총자본증가율,유형자산증가율,투자부동산증가율,비유동자산증가율,유동자산증가율,재고자산증가율,자기자본증가율,...,노동소득분배율,자본분배율,이윤분배율,부가가치,법인세비용차감전(계속사업)손익,인건비,금융비용,임차료,세금과공과,감가상각비
6923,(주)제이콘텐트리,36420,2011,83.68,331.55,0.00,153.14,27.59,542.59,941.41,...,61038.06,16899.35,20175.12,6645.98,6688.69,0.0,10628.93,90.28,23.24,7336.28
6924,(주)제이콘텐트리,36420,2012,95.88,110.44,-0.87,89.17,106.64,-3.97,14.05,...,131173.40,29389.99,34693.75,9854.75,36651.88,0.0,20583.03,116.32,25.49,377.98
6925,(주)제이콘텐트리,36420,2013,-1.56,17.43,-19.07,2.39,-7.34,0.32,-7.93,...,120299.78,13780.33,38662.25,7256.34,37642.15,0.0,22958.72,28.30,23.75,325.62
6926,(주)제이콘텐트리,36420,2014,-5.02,21.30,-0.91,2.51,-17.22,29.66,4.12,...,124754.51,22973.72,38735.31,3597.17,37499.07,0.0,22024.71,48.41,25.93,284.55
6927,(주)제이콘텐트리,36420,2015,-5.22,14.32,-9.26,11.40,-38.59,92.66,-30.59,...,121611.32,30253.96,34534.80,3545.36,36324.51,0.0,16957.69,65.01,26.67,232.66
6928,(주)제이콘텐트리,36420,2016,20.67,55.17,-0.55,15.71,38.73,64.19,34.41,...,122051.80,35065.95,31374.63,1219.54,40421.58,0.0,14002.91,10.96,22.18,147.82
6929,(주)제이콘텐트리,36420,2017,20.31,-9.51,248.25,9.59,52.87,1.34,88.74,...,147996.33,24382.39,45382.73,4994.90,47366.19,0.0,25870.12,3.91,22.36,148.43
6930,(주)제이콘텐트리,36420,2018,24.06,8.16,-0.47,5.63,64.17,39.11,112.72,...,192336.35,33559.63,60314.59,3493.38,52732.11,0.0,42236.65,11.02,23.42,198.84
7983,(주)콘텐트리중앙,36420,2011,83.68,331.55,0.00,153.14,27.59,542.59,941.41,...,61038.06,16899.35,20175.12,6645.98,6688.69,0.0,10628.93,90.28,23.24,7336.28
7984,(주)콘텐트리중앙,36420,2012,95.88,110.44,-0.87,89.17,106.64,-3.97,14.05,...,131173.40,29389.99,34693.75,9854.75,36651.88,0.0,20583.03,116.32,25.49,377.98
7985,(주)콘텐트리중앙,36420,2013,-1.56,17.43,-19.07,2.39,-7.34,0.32,-7.93,...,120299.78,13780.33,38662.25,7256.34,37642.15,0.0,22958.72,28.30,23.75,325.62
7986,(주)콘텐트리중앙,36420,2014,-5.02,21.30,-0.91,2.51,-17.22,29.66,4.12,...,124754.51,22973.72,38735.31,3597.17,37499.07,0.0,22024.71,48.41,25.93,284.55
7987,(주)콘텐트리중앙,36420,2015,-5.22,14.32,-9.26,11.40,-38.59,92.66,-30.59,...,121611.32,30253.96,34534.80,3545.36,36324.51,0.0,16957.69,65.01,26.67,232.66
7988,(주)콘텐트리중앙,36420,2016,20.67,55.17,-0.55,15.71,38.73,64.19,34.41,...,122051.80,35065.95,31374.63,1219.54,40421.58,0.0,14002.91,10.96,22.18,147.82
7989,(주)콘텐트리중앙,36420,2017,20.31,-9.51,248.25,9.59,52.87,1.34,88.74,...,147996.33,24382.39,45382.73,4994.90,47366.19,0.0,25870.12,3.91,22.36,148.43
7990,(주)콘텐트리중앙,36420,2018,24.06,8.16,-0.47,5.63,64.17,39.11,112.72,...,192336.35,33559.63,60314.59,3493.38,52732.11,0.0,42236.65,11.02,23.42,198.84
7991,(주)콘텐트리중앙,36420,2019,41.46,23.69,-0.47,93.04,-30.79,-22.37,-5.39,...,199548.79,20787.15,62822.05,7660.09,19939.13,0.0,88340.37,15.26,17.18,188.76

In [884]:
# 바뀐 회사명으로 통일
edit['회사명'][6923] = '(주)콘텐트리중앙'
edit['회사명'][6924] = '(주)콘텐트리중앙'
edit['회사명'][6925] = '(주)콘텐트리중앙'
edit['회사명'][6926] = '(주)콘텐트리중앙'
edit['회사명'][6927] = '(주)콘텐트리중앙'
edit['회사명'][6928] = '(주)콘텐트리중앙'
edit['회사명'][6929] = '(주)콘텐트리중앙'
edit['회사명'][6930] = '(주)콘텐트리중앙'

In [885]:
# 처리 후 재확인(거래소코드 하나에 회사명이 2개인 기업)
check_code = edit.groupby(['거래소코드'])['회사명'].nunique().reset_index()
check_code[check_code['회사명']>1]

Empty DataFrame
Columns: [거래소코드, 회사명]
Index: []

In [886]:
# 산업 분류 코드 상 금융 기업 삭제, 거래소코드 2개 기업 삭제
companies_to_drop = ['(주)경동인베스트','(주)오리온홀딩스', '(주)효성', '미원홀딩스(주)', '에이치디씨(주)', '쿠쿠홀딩스(주)', '컬러레이홀딩스', '(주)에이플러스에셋어드바이저', '인카금융서비스(주)', '글로벌텍스프리(주)', 
                     '(주)본느', '(주)신성이엔지', '(주)엔케이맥스', '(주)인산가', '(주)자비스', '(주)정다운','(주)포인트엔지니어링', '나무기술(주)', '삼성물산(주)', '씨아이에스(주)', '에스케이(주)',
                     '에스케이오션플랜트(주)']

mask = ~edit['회사명'].isin(companies_to_drop)
edit = edit[mask]

In [887]:
# 처리 후 확인(거래소코드 2개인 기업)
check = edit.groupby(['회사명'])['거래소코드'].nunique().reset_index()
check.rename(columns={'거래소코드':'거래소코드_개수'}, inplace=True)
check = check[check['거래소코드_개수']>1]
check

Empty DataFrame
Columns: [회사명, 거래소코드_개수]
Index: []

In [888]:
# 회사명 숫자 확인 (9개년 데이터라 최대 9개까지 존재해야 정상)
firm_name = pd.DataFrame(edit['회사명'].value_counts())
firm_name[firm_name['회사명'] > 9]

           회사명
(주)콘텐트리중앙   17
(주)셀트리온     15
(주)카카오      14
(주)포스코케미칼   12

In [889]:
# 회계년도 한 해에 두 개의 자료가 있는 기업 확인 / 중복 컬럼 제거 후 재 확인
# (주)콘텐트리중앙, (주)셀트리온, (주)카카오, (주)포스코케미칼 --> 4기업 모두 같은 작업 반복
edit[edit['회사명'] == '(주)포스코케미칼']

,회사명,거래소코드,회계년도,총자본증가율,유형자산증가율,투자부동산증가율,비유동자산증가율,유동자산증가율,재고자산증가율,자기자본증가율,...,노동소득분배율,자본분배율,이윤분배율,부가가치,법인세비용차감전(계속사업)손익,인건비,금융비용,임차료,세금과공과,감가상각비
8764,(주)포스코케미칼,3670,2011,29.80,45.15,0.00,45.54,25.32,-8.44,34.56,...,264867.77,120398.70,120100.93,-3770.38,18465.15,0.0,9673.38,197.62,53.78,670.13
8766,(주)포스코케미칼,3670,2012,9.72,16.33,-12.58,39.32,-0.07,3.04,20.42,...,246780.31,97292.54,123027.29,-4684.97,19703.93,0.0,11441.52,181.33,45.67,556.98
8768,(주)포스코케미칼,3670,2013,16.66,-1.88,0.00,74.15,-9.87,-8.86,12.67,...,230223.49,76435.00,125779.50,-2968.79,18251.26,0.0,12726.51,170.81,36.52,482.75
8770,(주)포스코케미칼,3670,2014,14.47,18.88,0.00,11.67,16.96,-6.48,13.83,...,258609.33,94790.11,131189.78,-982.94,19400.47,0.0,14211.91,185.00,35.84,343.22
8772,(주)포스코케미칼,3670,2015,-0.57,6.55,0.00,-0.52,-0.61,6.98,5.00,...,204878.11,46240.55,124992.89,-866.33,20001.71,0.0,14509.29,154.87,28.55,245.13
8774,(주)포스코케미칼,3670,2016,0.89,-5.70,0.00,-8.13,8.57,-21.29,6.10,...,226028.09,64763.21,129739.75,-967.38,18027.43,0.0,14465.09,183.35,31.23,281.19
8775,(주)포스코케미칼,3670,2016,0.89,-5.70,0.00,-8.13,8.57,-21.29,6.10,...,226028.09,64763.21,129739.75,-967.38,18027.43,0.0,14465.09,183.35,31.23,281.19
8776,(주)포스코케미칼,3670,2017,15.47,33.67,0.00,21.22,11.32,75.29,14.56,...,282415.66,125560.00,125256.08,-1632.29,19033.52,0.0,14198.35,192.19,33.79,285.43
8777,(주)포스코케미칼,3670,2017,15.47,33.67,0.00,21.22,11.32,75.29,14.56,...,282415.66,125560.00,125256.08,-1632.29,19033.52,0.0,14198.35,192.19,33.79,285.43
8778,(주)포스코케미칼,3670,2018,13.37,44.25,0.00,38.12,-6.05,10.45,16.32,...,354194.90,176599.53,142976.64,-1331.18,19604.13,0.0,16345.79,197.38,37.38,238.36
8779,(주)포스코케미칼,3670,2018,13.37,44.25,0.00,38.12,-6.05,10.45,16.32,...,354194.90,176599.53,142976.64,-1331.18,19604.13,0.0,16345.79,197.38,37.38,238.36
8780,(주)포스코케미칼,3670,2019,82.57,186.59,0.00,112.83,47.66,73.00,33.07,...,325662.61,112957.07,166408.22,1630.52,763.99,0.0,43907.61,174.36,18.82,130.11

In [890]:
# (주)셀트리온
# 인덱스 번호 이용, 중복 컬럼 제거
edit.drop([3082, 3084, 3086, 3088, 3090, 3092], axis=0, inplace=True)

In [891]:
# (주)카카오
# 인덱스 번호 이용, 중복 컬럼 제거
edit.drop([7365, 7367, 7369, 7371, 7373], axis=0, inplace=True)

In [892]:
# 인덱스 번호 이용, 중복 컬럼 제거
edit.drop([8775, 8777, 8779], axis=0, inplace=True)

In [893]:
# (주)콘텐트리중앙
# 인덱스 번호 이용, 중복 컬럼 제거
edit.drop([6923, 6924, 6925, 6926, 6927, 6928, 6929, 6930], axis=0, inplace=True)

In [894]:
# 한 회계년도에 두 개의 자료 존재하는 행 확인
firm_name = pd.DataFrame(edit['회사명'].value_counts())
firm_name[firm_name['회사명'] > 9]

Empty DataFrame
Columns: [회사명]
Index: []

In [895]:
# 1차 전처리 완료/ csv파일로 변환
edit.to_csv('../csv/1차전처리.csv', index=0)

### Y_label작업

In [896]:
code_연결 = pd.read_csv('../csv/연결감사의견코드.csv', encoding='cp949')
code_개별 = pd.read_csv('../csv/감사의견코드.csv', encoding='cp949')

In [897]:
# 감사의견코드 결합
code_통합 = code_연결.combine_first(code_개별)

In [898]:
## 통합코드 결측치 확인
code_통합.isna().sum()

회사명               0
거래소코드             0
회계년도              0
감사의견코드(IFRS)    928
dtype: int64

In [899]:
code_통합[code_통합['감사의견코드(IFRS)'].isna()]['회사명'].unique()

array(['(주)강스템바이오텍', '(주)강원에너지', '(주)그리티', '(주)그린플러스', '(주)금비',
       '(주)금호에이치티', '(주)나노브릭', '(주)나무가', '(주)네오크레마', '(주)넥스틴', '(주)노랑풍선',
       '(주)노바렉스', '(주)뉴파워프라즈마', '(주)대구백화점', '(주)대원', '(주)대창스틸',
       '(주)더네이쳐홀딩스', '(주)더코디', '(주)덕신하우징', '(주)덱스터스튜디오', '(주)동구바이오제약',
       '(주)두올', '(주)디알젬', '(주)디에이테크놀로지', '(주)디지캡', '(주)디케이앤디', '(주)디케이티',
       '(주)디티앤씨', '(주)디피앤케이', '(주)라파스', '(주)래몽래인', '(주)레이', '(주)리드',
       '(주)링크제니시스', '(주)마크로밀엠브레인', '(주)매직마이크로', '(주)메디아나', '(주)메카로',
       '(주)미래자원엠엘', '(주)미코바이오메드', '(주)미투온', '(주)바른손', '(주)방림', '(주)베셀',
       '(주)본느', '(주)브이원텍', '(주)비덴트', '(주)비씨월드제약', '(주)비엘', '(주)비지에프',
       '(주)비츠로셀', '(주)비츠로시스', '(주)비츠로테크', '(주)삼양옵틱스', '(주)삼에스코리아',
       '(주)서전기전', '(주)서진시스템', '(주)서플러스글로벌', '(주)석경에이티', '(주)선익시스템',
       '(주)세경하이테크', '(주)세원정공', '(주)세종메디칼', '(주)세진중공업', '(주)센트랄모텍',
       '(주)셀레믹스', '(주)셀리버리', '(주)셀트리온헬스케어', '(주)소프트센', '(주)솔루에타',
       '(주)솔트룩스', '(주)수젠텍', '(주)슈피겐코리아', '(주)스튜디오미르', '(주)신도기연', '(주)신스틸',
       '(주)신영와코루', '(주)신화콘텍', '(주)싸이맥스', '(주)씨앤씨인터내셔널', '(주)씨앤투스',
       '(주)아세아텍', '(주)아셈스', '(주)아스트', '(주)아스플로', '(주)아시아경제', '(주)아이씨디',
       '(주)아이퀘스트', '(주)아이티센', '(주)알비더블유', '(주)앤디포스', '(주)앱코',
       '(주)에스엘바이오닉스', '(주)에스제이그룹', '(주)에스피시스템스', '(주)에이디테크놀로지',
       '(주)에이비프로바이오', '(주)에이치시티', '(주)에이치엘사이언스', '(주)에이플러스에셋어드바이저',
       '(주)에코마케팅', '(주)에프앤가이드', '(주)에프엔씨엔터테인먼트', '(주)엑시콘', '(주)엔비티',
       '(주)엔지켐생명과학', '(주)엔케이맥스', '(주)엔켐', '(주)엔피디', '(주)엘앤케이바이오메드',
       '(주)엠아이텍', '(주)엠플러스', '(주)연우', '(주)영림원소프트랩', '(주)영우디에스피', '(주)예스티',
       '(주)오로스테크놀로지', '(주)오리엔트바이오', '(주)오비고', '(주)오킨스전자', '(주)와이더플래닛',
       '(주)와이오엠', '(주)용평리조트', '(주)우진아이엔에스', '(주)원방테크', '(주)원익피앤이',
       '(주)웹솔루스', '(주)웹스', '(주)위드텍', '(주)위지윅스튜디오', '(주)윈하이텍',
       '(주)유니온커뮤니티', '(주)유니테크노', '(주)유니트론텍', '(주)유디피', '(주)유유제약',
       '(주)유테크', '(주)육일씨엔에쓰', '(주)이노션', '(주)이엘피', '(주)이즈미디어', '(주)이큐셀',
       '(주)이크레더블', '(주)인산가', '(주)인터엠', '(주)인텔리안테크놀로지스', '(주)인트로메딕',
       '(주)인포마크', '(주)잇츠한불', '(주)자비스', '(주)장원테크', '(주)정다운', '(주)제너시스템즈',
       '(주)제이앤티씨', '(주)제이에스코퍼레이션', '(주)제이엘케이', '(주)제이와이피엔터테인먼트',
       '(주)제주항공', '(주)중앙에너비스', '(주)지노믹트리', '(주)지놈앤컴퍼니', '(주)지누스',
       '(주)지티지웰니스', '(주)천보', '(주)체리부로', '(주)체시스', '(주)캐리소프트', '(주)캐스텍코리아',
       '(주)케어젠', '(주)케이사인', '(주)케이엔제이', '(주)케이옥션', '(주)케이피에스', '(주)케일럼',
       '(주)코스메카코리아', '(주)코썬바이오', '(주)코윈테크', '(주)크래프톤', '(주)크리스에프앤씨',
       '(주)클리오', '(주)타이거일렉', '(주)탑코미디어', '(주)태웅로직스', '(주)테이팩스',
       '(주)텔콘알에프제약', '(주)토니모리', '(주)티로보틱스', '(주)티앤엘', '(주)티에스아이',
       '(주)티웨이항공', '(주)티피씨메카트로닉스', '(주)파마리서치', '(주)파멥신', '(주)파버나인',
       '(주)파수', '(주)파워넷', '(주)파인텍', '(주)팜스빌', '(주)펄어비스', '(주)포시에스',
       '(주)포인트모바일', '(주)포인트엔지니어링', '(주)폴라리스세원', '(주)풍강', '(주)퓨쳐켐',
       '(주)플리토', '(주)픽셀플러스', '(주)핑거', '(주)하나기술', '(주)하이로닉', '(주)하이브',
       '(주)한컴라이프케어', '(주)핸디소프트', '(주)현대공업', '(주)현대이지웰', '(주)형지엘리트',
       'AJ네트웍스(주)', '교촌에프앤비(주)', '국제약품(주)', '글로본(주)', '기신정기(주)',
       '나무기술(주)', '농업회사법인(주)농우바이오', '뉴지랩파마(주)', '대동전자(주)', '대모엔지니어링(주)',
       '덕우전자(주)', '동양피스톤(주)', '동원금속(주)', '두산밥캣(주)', '디아이티(주)', '디에스알(주)',
       '마이크로로봇(주)', '만호제강(주)', '모델솔루션(주)', '모바일어플라이언스(주)', '모트렉스(주)',
       '미디어젠(주)', '바이오플러스(주)', '바이온(주)', '부광약품(주)', '부산방직공업(주)', '비나텍(주)',
       '비디아이(주)', '비비씨(주)', '비플라이소프트(주)', '상신전자(주)', '선바이오(주)',
       '선진뷰티사이언스(주)', '신라젠(주)', '신성통상(주)', '신신제약(주)', '신흥에스이씨(주)',
       '씨에스베어링(주)', '아이쓰리시스템(주)', '아이진(주)', '아이큐어(주)', '애경산업(주)',
       '에스엘(주)', '에스와이(주)', '에스지이(주)', '에스케이디앤디(주)', '에스트래픽(주)',
       '에이비온(주)', '에이치비솔루션(주)', '에이피티씨(주)', '엔브이에이치코리아(주)', '엘티씨(주)',
       '영화테크(주)', '웹케시(주)', '이노시스(주)', '이삭엔지니어링(주)', '이오플로우(주)',
       '이지케어텍(주)', '이화산업(주)', '인카금융서비스(주)', '인크로스(주)', '일양약품(주)',
       '자이글(주)', '지니언스(주)', '지에이치신소재(주)', '카페24(주)', '케이디켐(주)',
       '켄코아에어로스페이스(주)', '코스맥스엔비티(주)', '쿠쿠홀딩스(주)', '펌텍코리아(주)', '풍원정밀(주)',
       '하나제약(주)', '하이즈항공(주)', '한국기업평가(주)', '한국맥널티(주)', '한국유니온제약(주)',
       '한국정보인증(주)', '한국주철관공업(주)', '한국콜마홀딩스(주)', '한스바이오메드(주)', '해성옵틱스(주)',
       '핸즈코퍼레이션(주)', '현대약품(주)', '호전실업(주)', '효성오앤비(주)', '휴림네트웍스(주)'],
      dtype=object)

In [900]:
# 감사의견코드 DU, DS, AG, NS (의견거절코드)만 뽑기
code_부실 = code_통합[code_통합['감사의견코드(IFRS)'].isin(['DU', 'DS', 'AG', 'NS'])]
code_부실

              회사명   거래소코드     회계년도 감사의견코드(IFRS)
208      (주)골드앤에스   35290  2019/12           DS
544       (주)네오퍼플   28090  2012/12           DS
580        (주)넥솔론  110570  2016/12           DU
587        (주)넥스지   81970  2017/12           DS
824    (주)다이나믹디자인  145210  2018/12           DU
...           ...     ...      ...          ...
14140  중국고섬공고유한공사  950070  2012/12           DS
14148  중국원양자원유한공사  900050  2016/12           DU
14641    태산엘시디(주)   36210  2013/12           DU
15387     한일건설(주)    6440  2012/12           DU
15800     흥아해운(주)    3280  2019/12           DU

[94 rows x 4 columns]

In [901]:
# 상장폐지 기업들 중 감사의견코드 부실의 이유로 거절인 경우 + KIND의 상장폐지 기업 리스트 중 부실 이유로 폐지된 기업의 리스트
# 로우 데이터 내 해당 기업들에게 부실 컬럼 안에 1의 레이블 부여
firm_list = ['(주)핸디소프트', '풍림산업(주)', '(주)클루넷', '(주)디에이치패션', '금강제강(주)', '(주)배명금속',
             '(주)엔케이바이오', '(주)넷웨이브', '(주)중앙건설', '(주)트라이써클', '이디디컴퍼니(주)', '(주)다함이텍',
             '(주)유에이블', '(주)디에스', '(주)지앤에스티', '글로스텍(주)', '(주)제너시스템즈', '(주)위다스',
             '(주)예당컴퍼니', '(주)테라리소스', '엠텍비젼(주)', '(주)나노트로닉스', '(주)디지텍시스템스', '(주)터보테크',
             '(주)신일건업', '삼환기업(주)', '(주)해피드림', '(주)씨앤케이인터내셔널', '(주)태창파로스', '(주)디아이디',
             'KCW(주)', '평산차업집단유한공사', '(주)승화프리텍', '(주)포스코플랜텍', '(주)엠제이비', '(주)씨엘인터내셔널',
             '(주)케이엔씨글로벌', '(주)넥솔론', '(주)비엔씨컴퍼니', '(주)엔에스브이', '아이이(주)', '(주)미래자원엠엘', '(주)위노바',
             '(주)썬코어', '(주)씨그널엔터테인먼트그룹', '(주)스틸플라워', '성지건설(주)', '(주)위너지스', '레이젠(주)', '(주)넥스지', 
             '(주)트레이스', '(주)우성아이비', '(주)지디', '(주)에프티이앤이', '(주)데코앤이', '(주)제이테크놀로지', '(주)리드', '(주)코썬바이오']

new_list = code_부실['회사명'].unique()

list_1 = pd.DataFrame(firm_list)
list_2 = pd.DataFrame(new_list)

In [902]:
# 상장폐지 기업 리스트 / 부실 사유 감사의견 거절 기업 리스트 결합
a = list_1.append(list_2)
# 중복값 제거
a.drop_duplicates(keep='first', inplace=True)
# 중복값 확인
a.duplicated().sum()

0

In [903]:
edit['부실'] = ''

for i in edit.index:
    if edit.loc[i, '회사명'] in a.values:
        edit.loc[i, '부실'] = 1
    else:
        edit.loc[i, '부실'] = 0

In [904]:
edit['부실'].value_counts()

0    14632
1      538
Name: 부실, dtype: int64

- *가 붙은 기업 : KIND확인 상폐기업(TS2000 코드로 분류되지 않음)

- 2011년 - (주)핸디소프트*
- 2012년 - (주)미성포리테크, 미리넷(주), (주)폴리플러스, 풍림산업(주)*, (주)클루넷*, (주)허메스홀딩스, (주)디에이치패션*, 금강제강(주)*, (주)배명금속*, (주)엔케이바이오*,
동양텔레콤(주), 연합과기공고유한공사, (주)인스프리트, (주)넷웨이브*, (주)중앙건설*
- 2013년 - (주)트라이써클*, (주)휴먼텍코리아, (주)삼우이엠씨, 이디디컴퍼니(주)*, 한일건설(주), (주)다함이텍 *, (주)유에이블 *, (주)디에스 *, (주)유일엔시스, (주)자유투어,
(주)에듀언스, (주)알앤엘바이오, (주)네오퍼플, (주)룩손에너지홀딩스, (주)지앤에스티*, 글로스텍(주)*, 우경(주), (주)제너시스템즈*, (주)지아이바이오, (주)위다스*, (주)예당컴퍼니*,
중국고섬공고유한공사
- 2014년 - (주)테라리소스*, (주)렉스엘이앤지, 엠텍비젼(주)*, 태산엘시디(주), (주)모린스, (주)나노트로닉스*, 쌍용건설(주), STX조선해양(주), (주)동양건설산업, (주)아라온테크,
에버테크노(주), (주)유니드코리아
- 2015년 - (주)디지텍시스템스*, (주)터보테크*, (주)로케트전기, 울트라건설(주), (주)신일건업*, 경남기업(주), 삼환기업(주)*, (주)영진코퍼레이션, (주)웹솔루스, (주)해피드림*,
잘만테크(주), (주)씨앤케이인터내셔널*, (주)태창파로스*, 에이스하이텍(주), (주)와이즈파워, (주)디아이디*, KCW(주)*, 평산차업집단유한공사*
- 2016년 - (주)승화프리텍*, (주)플렉스컴, (주)포스코플랜텍*, (주)아이디에스, 제이앤유글로벌, (주)엠제이비*, (주)씨엘인터내셔널*
- 2017년 - (주)케이엔씨글로벌*, (주)우전, (주)넥솔론*, (주)신양오라컴디스플레이, (주)비엔씨컴퍼니*, (주)에스에스컴텍, (주)보루네오가구, (주)엔에스브이*, 아이이(주)*, (주)미래자원엠엘 *
- 2018년 - (주)위노바 (2018.3월), (주)썬코어 (2018.3월), (주)씨그널엔터테인먼트그룹, (주)스틸플라워, 성지건설(주), (주)위너지스, 레이젠(주), (주)넥스지, (주)트레이스, (주)우성아이비, (주)지디
- 2019년 - (주)에프티이앤이, (주)데코앤이, (주)제이테크놀로지
- 2020년 - (주)리드, (주)코썬바이오

In [905]:
# 원본데이터에서 부실, 거래소코드, 회계년도 추출/ 기존인덱스 유지
df_상장폐지 = edit[['거래소코드', '회계년도', '부실']]
df_상장폐지['부실'] = df_상장폐지['부실'].astype(int)
df_상장폐지.reset_index(inplace=True)
df_상장폐지.rename(columns={'index':'기존인덱스'}, inplace=True)
df_상장폐지 = pd.DataFrame(df_상장폐지.groupby(['거래소코드', '회계년도', '기존인덱스'])['부실'].sum()).reset_index()
df_상장폐지

        거래소코드  회계년도  기존인덱스  부실
0          20  2011  10885   0
1          20  2012  10886   0
2          20  2013  10887   0
3          20  2014  10888   0
4          20  2015  10889   0
...       ...   ...    ...  ..
15165  950140  2018  13922   0
15166  950140  2019  13923   0
15167  950190  2018  11321   0
15168  950190  2019  11322   0
15169  950220  2019    520   0

[15170 rows x 4 columns]

In [906]:
# 부실기업 정의에 따라 1을 입력한해와 그 전년도 추출
df_상장폐지1 = df_상장폐지[df_상장폐지['부실']==1].groupby('거래소코드').apply(lambda x: x.nlargest(2, '회계년도')).reset_index(drop=True)
df_상장폐지1.columns = ['거래소코드','회계년도',  '기존인덱스_1', '부실_1']
df_상장폐지1

      거래소코드  회계년도  기존인덱스_1  부실_1
0       360  2014    11819     1
1       360  2013    11818     1
2       420  2013     1668     1
3       420  2012     1667     1
4       800  2014     9914     1
..      ...   ...      ...   ...
225  900180  2016    13391     1
226  950010  2014    14798     1
227  950010  2013    14797     1
228  950070  2012    14140     1
229  950070  2011    14139     1

[230 rows x 4 columns]

In [907]:
# 원본데이터(edit) '부실'=1 인 행중 부실 정의에 따르지 않는 행을 지우기 위한 인덱스 추출
merged_df = pd.merge(df_상장폐지, df_상장폐지1, left_on='기존인덱스', right_on='기존인덱스_1', how='outer', suffixes=('', '_1'))
df_filtered = merged_df[merged_df['기존인덱스'] != merged_df['기존인덱스_1']]
df_filtered1 = df_filtered[df_filtered['부실']==1]
drop_list = df_filtered1['기존인덱스']

In [908]:
# 부실 정의에 맞지 않는 행 삭제
edit.drop(drop_list, axis=0, inplace=True)
edit.drop_duplicates(keep='first', inplace=True)
edit.reset_index(drop=True, inplace=True)

In [909]:
edit['부실'].value_counts()

0    14632
1      230
Name: 부실, dtype: int64

In [910]:
# 원본 데이터 인덱스 정리
df_관리 = edit.reset_index(drop=True)

In [911]:
# kind에서 선별한 관리종목목록 데이터 로드
df_관리종목목록 = pd.read_excel('../csv//통합.xlsx')
df_관리종목목록.drop_duplicates(subset='거래소코드', keep='first', inplace=True, ignore_index=True)

In [912]:
# 원본데이터와 merge할 데이터 제작
df_관리종목목록['지정년도'] = df_관리종목목록['날짜']
df_관리종목목록['회사명'] = df_관리종목목록['종목']
df_관리종목목록['관리종목'] = 1
df_관리종목목록2 = df_관리종목목록[['거래소코드', '지정년도', '관리종목']]

In [913]:
# merge 및 결합데이터 전처리
df_관리통합 = pd.merge(df_관리, df_관리종목목록2, how='left', on='거래소코드')
df_관리통합['지정년도'] = df_관리통합['지정년도'].fillna(9999).astype('int')
df_관리통합['회계년도'] = df_관리통합['회계년도'].astype('int')
df_관리통합['관리종목'] = df_관리통합['관리종목'].fillna(0).astype('int')

In [914]:
# 관리종목 컬럼에 1인 경우 부실(Y레이블)에 1을 넣어주는 반복문
for i in range(len(df_관리통합)):
    if df_관리통합['관리종목'][i] == 1:
        df_관리통합['부실'][i] = 1

In [915]:
df_관리통합['부실'].value_counts()

0    13146
1     1716
Name: 부실, dtype: int64

In [916]:
# 관리종목 데이터프레임만 추출
df_extract = df_관리통합[df_관리통합['지정년도'] != 9999]

In [917]:
# 관리종목 지정 이후 삭제할 데이터 인덱스를 담는 반복문 (ex A기업 2015년 관리종목 지정, A기업의 2015년부터 존재하는 인덱스 번호를 리스트에 전부 담음)
# 삭제할 인덱스 번호 : j
ls = []

for i in df_extract.index:
    for j in df_extract.index:
        if df_extract['거래소코드'][i] == df_extract['거래소코드'][j]:
           if df_extract['지정년도'][i] <= df_extract['회계년도'][j]:
            ls.append(j)

# 리스트 데이터프레임화
drop_after = pd.DataFrame(ls)

# 리스트 중복값 삭제
drop_after.drop_duplicates(subset=0, keep='first', inplace=True, ignore_index=True)

In [918]:
# drop함수에 사용할 ls2 생성
drop_after_ls = []

for i in drop_after[0]:
    drop_after_ls.append(i)

# 원본데이터 복사
df_관리통합_copy = df_관리통합.copy()

In [919]:
df_관리통합_copy['부실'].value_counts()

0    13146
1     1716
Name: 부실, dtype: int64

In [920]:
df_관리통합_copy[df_관리통합_copy['회사명'] == '흥아해운(주)']

,회사명,거래소코드,회계년도,총자본증가율,유형자산증가율,투자부동산증가율,비유동자산증가율,유동자산증가율,재고자산증가율,자기자본증가율,...,부가가치,법인세비용차감전(계속사업)손익,인건비,금융비용,임차료,세금과공과,감가상각비,부실,지정년도,관리종목
14860,흥아해운(주),3280,2018,-5.33,-12.07,70.56,-5.17,-6.33,-5.85,-37.42,...,32180.14,0.0,0.0,24326.58,2.41,4.24,1.135163e+09,1,2020,1
14861,흥아해운(주),3280,2019,-46.38,-51.51,-97.68,-51.51,-13.42,-58.98,-57.73,...,22368.67,0.0,0.0,23529.72,9.92,3.10,4.455416e+08,1,2020,1

In [921]:
# 관리종목 지정 남겨놓을 인덱스를 담는 반복문 (ex A기업 2015년 관리종목 지정, A기업의 2013년, 2014년 인덱스번호를 리스트에 담음)
# 빈 리스트 생성 및 남겨놓을 인덱스 번호 append
# 남겨놓을 인덱스 번호 : j

ls_date = []

for i in df_extract.index:
    for j in df_extract.index:
        if df_extract['거래소코드'][i] == df_extract['거래소코드'][j]:
           if ((df_extract['지정년도'][i] - 2) == df_extract['회계년도'][j]) or ((df_extract['지정년도'][i] - 1) == df_extract['회계년도'][j]):
            ls_date.append(j)

# 리스트 데이터프레임화
ls_date2 = pd.DataFrame(ls_date)

# 리스트 중복값 삭제
ls_date2.drop_duplicates(subset=0, keep='first', inplace=True, ignore_index=True)

In [922]:
# 남겨놓을 인덱스를 ls3 리스트로 제작
ls3 = []

for i in ls_date2[0]:
    ls3.append(i)

In [923]:
# '유지' 컬럼 생성

df_관리통합_copy['유지'] = 0

for i in ls3:
    df_관리통합_copy['유지'][i] = 1

In [924]:
# 삭제할 리스트 생성
ls_delete = []

for i in df_관리통합_copy.index:
    if (df_관리통합_copy['관리종목'][i] == 1) and (df_관리통합_copy['유지'][i] == 0):
        ls_delete.append(i)

In [925]:
# 1 레이블링 이전 0 레이블링 데이터들 삭제
df_관리통합_copy.drop(ls_delete, inplace=True)
## 외국계기업 데이터 프레임 제작
MN = df_관리통합_copy[df_관리통합_copy['거래소코드'] >= 900000]
## 외국계기업 인덱스 기준 삭제
df_관리통합_copy.drop(MN.index, inplace=True)
# 데이터 분포 확인
df_관리통합_copy['부실'].value_counts()

0    13076
1      476
Name: 부실, dtype: int64

In [926]:
# 2차 로우데이터 파일 제작
raw_data = df_관리통합_copy.copy()
# 인덱스 정리 및 필요없는 컬럼제거(관리종목 레이블링에 사용한 컬럼)
raw_data.reset_index(drop=True, inplace=True)
raw_data.drop(columns=['지정년도', '관리종목', '유지'], inplace=True)

In [927]:
# raw_data.to_csv('../datasets/2차전처리.csv', index=0)

In [928]:
# 공통변수 컬럼만 추출(27개)
raw_data3 = raw_data[['회사명', '거래소코드', '회계년도', '자기자본구성비율', '설비투자효율', '총자본투자효율', '이자보상배율(이자비용)', '유동비율', '당좌비율', '부채비율', '총자본정상영업이익률', '매출액정상영업이익률', '매출액순이익률',
       '자기자본순이익률', '매출채권회전률', '재고자산회전률', '총자본회전률', '순운전자본비율', '부실']]

In [929]:
# csv로 제작
raw_data3.to_csv('../csv/3차전처리.csv', index=0)

### 증가율 및 altman 컬럼 제작

* 기존의 증가율 컬럼의 경우 잘못된 값이 들어가 있어 새롭게 제작함
* 매출액증가율, 총자본증가율, 순이익증가율, 영업이익증가율, 유동자산증가율, 유형자산증가율 총 6개

In [930]:
change_rate_연결 = pd.read_csv('../csv/증가율연결.csv', encoding='949')
change_rate_개별 = pd.read_csv('../csv/증가율개별.csv', encoding='949')

In [931]:
# 연결, 개별데이터 컬럼이름 통일
change_rate_연결.columns = ['회사명', '거래소코드', '회계년도', '매출액', '자산','당기순이익', '계속영업이익', '유동자산','유형자산']
change_rate_개별.columns = ['회사명', '거래소코드', '회계년도', '매출액', '자산','당기순이익', '계속영업이익', '유동자산','유형자산']
# 연결, 개별데이터 결합
change_rate_통합 = change_rate_연결.combine_first(change_rate_개별)
# 12월 결산월 이외의 데이터 드랍
change_rate_통합 = change_rate_통합.drop(change_rate_통합[(change_rate_통합['회계년도'] != '2010/12') &(change_rate_통합['회계년도'] != '2011/12') & (change_rate_통합['회계년도'] != '2012/12') & (change_rate_통합['회계년도'] != '2013/12') & 
                      (change_rate_통합['회계년도'] != '2014/12') & (change_rate_통합['회계년도'] != '2015/12') & (change_rate_통합['회계년도'] != '2016/12') & 
                      (change_rate_통합['회계년도'] != '2017/12') & (change_rate_통합['회계년도'] != '2018/12') & (change_rate_통합['회계년도'] != '2019/12')].index)
# 회계년도만 남기기
change_rate_통합['회계년도'] = change_rate_통합['회계년도'].apply(lambda x: x.replace('/12', ''))
change_rate_통합['회계년도'] = change_rate_통합['회계년도'].astype('int')
# 중복데이터 제거
change_rate_통합.drop_duplicates(keep='first', inplace=True)
# 증가율 계산
change_rate_통합['매출액증가율'] = change_rate_통합.groupby(['거래소코드'])['매출액'].pct_change()
change_rate_통합['총자본증가율'] = change_rate_통합.groupby(['거래소코드'])['자산'].pct_change()
change_rate_통합['순이익증가율'] = change_rate_통합.groupby(['거래소코드'])['당기순이익'].pct_change()
change_rate_통합['영업이익증가율'] = change_rate_통합.groupby(['거래소코드'])['계속영업이익'].pct_change()
change_rate_통합['유동자산증가율'] = change_rate_통합.groupby(['거래소코드'])['유동자산'].pct_change()
change_rate_통합['유형자산증가율'] = change_rate_통합.groupby(['거래소코드'])['유형자산'].pct_change()
# 증가율 컬럼중 영업이익증가율과 순이익증가율 컬럼 제작을 위한 전처리
change_rate_통합['계속영업이익_shift'] = change_rate_통합['계속영업이익'].shift(1)
change_rate_통합['당기순이익_shift'] = change_rate_통합['당기순이익'].shift(1)
change_rate_통합['영업이익증가율_1'] = change_rate_통합['영업이익증가율']
change_rate_통합['순이익증가율_1'] = change_rate_통합['순이익증가율']

In [932]:
# 당기순이익과 영업이익 -> 당해년도와 그 전년도행이 음수이고, 당해년도가 전년도보다 값이 큰 경우 당해년도 증가율은 0으로 치환
for i in change_rate_통합.index:
    if (change_rate_통합['당기순이익'][i] <0) and (change_rate_통합['당기순이익_shift'][i] <0) and (change_rate_통합['당기순이익'][i] > change_rate_통합['당기순이익_shift'][i]):
        change_rate_통합['순이익증가율_1'][i] = 0

for i in change_rate_통합.index:
    if (change_rate_통합['계속영업이익'][i] <0) and (change_rate_통합['계속영업이익_shift'][i] <0) and (change_rate_통합['계속영업이익'][i] > change_rate_통합['계속영업이익_shift'][i]):
        change_rate_통합['영업이익증가율_1'][i] = 0

In [933]:
# 증가율을 만든 후 필요없는 컬럼 삭제 및 컬럼명 변경
change_rate_통합.drop(columns=['매출액', '자산', '당기순이익', '계속영업이익', '유동자산', '유형자산', '영업이익증가율', '순이익증가율', '계속영업이익_shift', '당기순이익_shift'],axis=1, inplace=True)
change_rate_통합.columns = ['회사명', '거래소코드', '회계년도', '매출액증가율', '총자본증가율', '유동자산증가율', '유형자산증가율',
       '영업이익증가율', '순이익증가율']

In [934]:
# 2010년도 데이터 삭제 및 인덱스 정리
change_rate_통합 = change_rate_통합[change_rate_통합['회계년도'] > 2010]
change_rate_통합_저장 = change_rate_통합.reset_index(drop=True)

In [935]:
# CSV파일로 제작
change_rate_통합_저장.to_csv('../csv/변화율.csv', index=0)

In [936]:
# altman변수를 위한 데이터 로드
df_altman연결 = pd.read_csv('../csv/altman연결1.csv', encoding='cp949')
df_altman개별 = pd.read_csv('../csv/altman개별1.csv', encoding='cp949')

In [937]:
# 연결, 개별데이터 컬럼명 통일
df_altman연결.columns = ['회사명', '거래소코드', '회계년도', '이익잉여금', '법인세비용차감전순이익', '자산', '부채', '매출액', '합계_기말인원', 'PER(최고)', 'PER(최저)', 'PBR(최고)', 'PBR(최저)', '종가']
df_altman개별.columns = ['회사명', '거래소코드', '회계년도', '이익잉여금', '법인세비용차감전순이익', '자산', '부채', '매출액', '합계_기말인원', 'PER(최고)', 'PER(최저)', 'PBR(최고)', 'PBR(최저)', '종가']
# combine_first() 이용, 개별데이터 값으로 연결데이터 결측치 채움
df_altman통합 = df_altman연결.combine_first(df_altman개별)
# 회계년도 연도만 남기기
df_altman통합['회계년도'] = df_altman통합['회계년도'].str[:4]
# 중복값 제거
df_altman통합.drop_duplicates(keep='first', inplace=True, ignore_index=True)
# altman 변수 계산
df_altman통합['RETA'] = df_altman통합['이익잉여금'] / df_altman통합['자산']
df_altman통합['EBTA'] = df_altman통합['법인세비용차감전순이익'] / df_altman통합['자산']
df_altman통합['OM'] = df_altman통합['법인세비용차감전순이익'] / df_altman통합['매출액']

In [938]:
# 종업원 수 증가율 제작 데이터 복사
change_rate_종업원 = df_altman통합.copy()
# 종업원 수 증가율 제작 위해 결측치를 bfill로 채움
change_rate_종업원['합계_기말인원'] = change_rate_종업원.groupby(['회사명'])['합계_기말인원'].fillna(method='bfill')
# 남은 결측치 1로 채움
change_rate_종업원['합계_기말인원'] = change_rate_종업원['합계_기말인원'].fillna(1)
# 회사명으로 그룹화 후 종업원 증가율 계산
change_rate_종업원['종업원수증가율'] = change_rate_종업원.groupby(['회사명'])['합계_기말인원'].pct_change()
# 회계년도 10년 이후 데이터만 남기기
change_rate_종업원['회계년도'] = change_rate_종업원['회계년도'].astype(int)
altman_after = change_rate_종업원[change_rate_종업원['회계년도'] > 2010]
# 필요한 변수만 데이터프레임으로 받기
altman_data = altman_after[['회사명', '거래소코드', '회계년도', '종가', 'RETA', 'EBTA', 'OM', '종업원수증가율']]

In [939]:
# 인덱스 정리 후 데이터 csv파일로 저장
altman_data.reset_index(drop=True, inplace=True)

In [940]:
# CSV파일로 제작
altman_data.to_csv('../csv/altman.csv', index=0)

### 파생변수 제작
* 거래량회전율 : 1년거래량 / 발행주식 총수 
* 수정주가 거래량 : 1년 거래량 / 수정종가
* 거래량증가율 : T-1기 1년거래량 - T기 1년거래량 / T-1기 1년거래량
* 로그시가총액 : np.log10(시가총액)
* 시가총액증가율 : T-1기 시가총액 - T기 시가총액 / T-1기 시가총액
* DOL : 영업이익변화율 / 매출액변화율 (1 ~ 무한대)
* DFL : 순이익변화율/ 영업이익변화율 (1 ~ 무한대)
* 종업원 수 증가율 : T-1기 종업원수 - T기 종업원수 / T-1기 종업원수
* 금융비용부담률 : 이자비용/매출액
* 고정비율 : 유형자산/총자산
* R&D비율 : 연구개발비/매출액
* 채무부담비율 : 재고자산회전율/매입채무회전율

##### - 1차 파생변수 제작

In [941]:
df_월별거래량1 = pd.read_csv('../csv/월별거래량데이터.csv', encoding='cp949')
df_월별거래량2 = pd.read_csv('../csv/월별거래량데이터2.csv', encoding='cp949')
df_주식총수 = pd.read_csv('../csv/stock_quantity.csv', index_col=0)

In [942]:
# 회계년도만 남기기
df_월별거래량1['회계년도'] = df_월별거래량1['회계년도'].str[:4]
df_월별거래량2['회계년도'] = df_월별거래량2['회계년도'].str[:4]
# 월별 거래량 통합
df_월별거래량통합 = pd.concat([df_월별거래량1, df_월별거래량2])
# 인덱스 정리 및 그룹화
df_월별거래량통합.reset_index(drop=True, inplace=True)
df_월별거래량그룹화 = df_월별거래량통합.groupby(['회사명', '회계년도', '거래소코드'])
df_1년거래량 = df_월별거래량그룹화.agg(sum).reset_index()
df_1년거래량

                회사명  회계년도   거래소코드        거래량  거래일수
0      3노드디지탈그룹유한공사  2010  900010  599345487   251
1      3노드디지탈그룹유한공사  2011  900010  695283628   248
2      3노드디지탈그룹유한공사  2012  900010  418147882   248
3      3노드디지탈그룹유한공사  2013  900010   35869989   106
4         AJ네트웍스보통주  2015   95570    7666331    90
...             ...   ...     ...        ...   ...
19909         히스토스템  2010   36840  372204062   251
19910         히스토스템  2011   36840   38463293   173
19911            힘스  2017  238490   20074864   108
19912            힘스  2018  238490   40763372   244
19913            힘스  2019  238490   37645064   246

[19914 rows x 5 columns]

In [943]:
# 필요한 컬럼만 추출
df_거래량 = df_1년거래량[['회사명','회계년도', '거래소코드', '거래량']]

In [944]:
# 액면가 데이터 받아오기(40개 csv파일)

# 데이터를 받아올 경로 지정
path = '../csv/price/'
file_list = os.listdir(path)
file_list_py = [file for file in file_list if file.endswith('.csv')] # 경로안에서 .csv로 끝나는 파일들을 로드

# 데이터프레임 리스트 생성
price = []
for i in file_list_py:
    data = pd.read_csv(path + i, encoding='cp949')
    price.append(data)

# 하나의 리스트에 받아진 데이터들을 개별 데이터프레임으로 변환
for i in range(0, 40, 1):
    df_name = 'df' + str(i+1) 
    globals()[df_name] = pd.DataFrame(price[i])

In [945]:
# 컬럼명을 바꿔주는 함수
def column_rename(df):
    df.columns =  ['회사명', '거래소코드', '회계년도', '액면가(원)', '종가(원)']

# 기초 날짜만 남기는 함수
def first_setting(df):
    df = df[df['회계년도'] <= df['회계년도'][0]]
    df.reset_index(drop=True, inplace=True)
    return df

# 기말 날짜만 남기는 함수
def last_setting(df):
    last_date = df['회계년도'].iloc[-1]
    df = df[df['회계년도'] >= last_date]
    df.reset_index(drop=True, inplace=True)
    return df

In [946]:
# 기초 데이터만 남기기

df1 = first_setting(df1)
df2 = first_setting(df2)
df5 = first_setting(df5)
df6 = first_setting(df6)
df9 = first_setting(df9)
df10 = first_setting(df10)
df13 = first_setting(df13)
df14 = first_setting(df14)
df17 = first_setting(df17)
df18 = first_setting(df18)
df21 = first_setting(df21)
df22 = first_setting(df22)
df25 = first_setting(df25)
df26 = first_setting(df26)
df29 = first_setting(df29)
df30 = first_setting(df30)
df33 = first_setting(df33)
df34 = first_setting(df34)
df37 = first_setting(df37)
df38 = first_setting(df38)

In [947]:
# 기말 데이터만 남기기

df3 = last_setting(df3)
df4 = last_setting(df4)
df7 = last_setting(df7)
df8 = last_setting(df8)
df11 = last_setting(df11)
df12 = last_setting(df12)
df15 = last_setting(df15)
df16 = last_setting(df16)
df19 = last_setting(df19)
df20 = last_setting(df20)
df23 = last_setting(df23)
df24 = last_setting(df24)
df27 = last_setting(df27)
df28 = last_setting(df28)
df31 = last_setting(df31)
df32 = last_setting(df32)
df35 = last_setting(df35)
df36 = last_setting(df36)
df39 = last_setting(df39)
df40 = last_setting(df40)

In [948]:
# 액면가를 float으로 타입 변환

df_list = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, 
df21, df22, df23, df24, df25, df26, df27, df28, df29, df30, df31, df32, df33, df34, df35, df36, df37, df38, df39, df40]

for df in df_list:
    df['액면가(원)'] = df['액면가(원)'].astype(float)

df_액면가통합 = pd.concat(df_list)

In [949]:
# 인덱스 정리
df_액면가통합.reset_index(drop=True, inplace=True)

# 회계년도 정리
df_액면가통합['회계년도'] = pd.to_datetime(df_액면가통합['회계년도'])
df_액면가통합['회계년도'] = df_액면가통합['회계년도'].dt.strftime('%Y')

# 가중치 제작
df_액면가통합['가중치'] = 5000 / df_액면가통합['액면가(원)']

# 외국계기업 삭제
df_액면가외국계제외 = df_액면가통합.drop(df_액면가통합['거래소코드'][df_액면가통합['거래소코드'] >= 900000].index)

# 인덱스 정리
df_액면가외국계제외.reset_index(drop=True, inplace=True)

# 가중치의 무한 값 확인
df_액면가외국계제외2 = df_액면가외국계제외.drop(df_액면가외국계제외[df_액면가외국계제외['가중치'] == np.inf].index)

# 인덱스 정리
df_액면가외국계제외2.reset_index(drop=True, inplace=True)

# 수정종가 제작
df_액면가외국계제외2['수정종가'] = df_액면가외국계제외2['종가(원)'] * df_액면가외국계제외2['가중치']

# 그룹화
df_액면가외국계제외3 = (df_액면가외국계제외2.groupby(['거래소코드', '회계년도']).agg(sum) / 2).reset_index()

In [950]:
# 수정종가 제작 완료 ((기초액면가 * 기초종가 + 기말액면가 * 기말종가) / 2)
df_액면가외국계제외3.reset_index(drop=True, inplace=True)
df_액면가외국계제외3

        거래소코드  회계년도  액면가(원)   종가(원)   가중치     수정종가
0          20  2010  1000.0  6405.0   5.0  32025.0
1          20  2011  1000.0  4680.0   5.0  23400.0
2          20  2012  1000.0  5062.5   5.0  25312.5
3          20  2013  1000.0  5240.0   5.0  26200.0
4          20  2014  1000.0  5005.0   5.0  25025.0
...       ...   ...     ...     ...   ...      ...
18853  337450  2019    50.0  1010.0  25.0  50500.0
18854  339950  2019    50.0  1000.0  25.0  50000.0
18855  340120  2019    50.0  1005.0  25.0  50250.0
18856  340360  2019    50.0  1002.5  25.0  50125.0
18857  340440  2019    50.0  1005.0  25.0  50250.0

[18858 rows x 6 columns]

In [951]:
# 거래량, 수정종가 결합
df_시장정보 = pd.merge(df_액면가외국계제외3, df_거래량, how='left')
# 회계년도 남기기
df_주식총수['회계년도'] = df_주식총수['회계년도'].str[:4]
# 타입 변경
df_주식총수['회계년도'] = df_주식총수['회계년도'].astype('int64')
df_시장정보['회계년도'] = df_시장정보['회계년도'].astype('int64')
# 필요한 컬럼 남기기
df_주식총수 = df_주식총수[['회계년도', '거래소코드', '발행주식의 총수 (현재 발행한 주식수 - 현재 감소한 주식수)']]
# 시장정보 및 주식총수 결합
df_시장정보최종 = pd.merge(df_시장정보, df_주식총수, how='left')
# 시장정보 파생변수 생성
df_시장정보최종['시가총액'] = df_시장정보최종['수정종가'] * df_시장정보최종['발행주식의 총수 (현재 발행한 주식수 - 현재 감소한 주식수)']
df_시장정보최종['거래량회전율'] = df_시장정보최종['거래량'] / df_시장정보최종['발행주식의 총수 (현재 발행한 주식수 - 현재 감소한 주식수)']
df_시장정보최종['로그시가총액'] = np.log10(df_시장정보최종['시가총액'])
df_시장정보최종['수정거래량'] = df_시장정보최종['거래량'] / df_시장정보최종['수정종가']
# 증가율 파생변수 생성
df_시장정보최종['거래량증가율'] = df_시장정보최종.groupby('거래소코드')['거래량'].pct_change()
df_시장정보최종['시가총액증가율'] = df_시장정보최종.groupby('거래소코드')['시가총액'].pct_change()
# 필요한 컬럼만 추출
df_시장정보최종2 = df_시장정보최종[['거래소코드', '회계년도', '수정종가', '회사명', '시가총액', '거래량회전율', '로그시가총액', '수정거래량', '거래량증가율', '시가총액증가율']]

In [952]:
# 1차 파생변수 파일로 저장
df_시장정보최종2.to_csv('../csv/시장정보최종.csv', index=0)

##### - 2차 파생변수 제작

In [953]:
# 데이터 로드
df_채무연결 = pd.read_csv('../csv/채무연결.csv', encoding='cp949')
df_채무개별 = pd.read_csv('../csv/채무개별.csv', encoding='cp949')
# 컬럼 명 일치 
df_채무연결.columns = ['회사명', '거래소코드', '회계년도', '재고자산', '매입채무', '영업활동으로 인한 현금흐름', '매출액(수익)', '이자비용', '유형자산', '자본', '당기순이익(손실)', '연구개발비']
df_채무개별.columns = ['회사명', '거래소코드', '회계년도', '재고자산', '매입채무', '영업활동으로 인한 현금흐름', '매출액(수익)', '이자비용', '유형자산', '자본', '당기순이익(손실)', '연구개발비']
# 데이터 combine
df_채무통합 = df_채무연결.combine_first(df_채무개별)
# 파생변수 제작
df_채무통합['회계년도'] = df_채무통합['회계년도'].str[:4]

df_채무통합['금융비용부담률'] = df_채무통합['이자비용']/df_채무통합['매출액(수익)']*100
df_채무통합.drop(columns=['이자비용'], inplace=True)

df_채무통합['고정비율'] =  df_채무통합['유형자산']/df_채무통합['자본']*100
df_채무통합.drop(columns=['유형자산', '자본', '당기순이익(손실)'], inplace=True)

df_채무통합['R&D비율'] = df_채무통합['연구개발비'] / df_채무통합['매출액(수익)']*100
df_채무통합.drop(columns=['연구개발비', '매출액(수익)'], inplace=True)

df_채무통합['채무부담비율'] = df_채무통합['매입채무']/df_채무통합['재고자산']*100
df_채무통합.drop(columns=['재고자산', '매입채무'], inplace=True)
# 데이터 타입 변경
df_채무통합['회계년도'] = df_채무통합['회계년도'].astype('int64')

# 중복 데이터 제거
df_채무통합.drop_duplicates(keep='first', inplace=True)

# 인덱스 정리
df_채무통합.reset_index(inplace=True,drop=True)

In [954]:
# 데이터 저장
df_채무통합.to_csv('../csv/비율파생변수.csv', index=0)

##### - 3차 파생변수 제작

In [955]:
# 데이터 로드
dol_dfl = pd.read_csv('../csv/증가율연결.csv', encoding='cp949')
dol_dfl_2 = pd.read_csv('../csv/증가율개별.csv', encoding='cp949')
# 연결, 개별데이터 컬럼이름 통일
dol_dfl.columns = ['회사명', '거래소코드', '회계년도', '매출액', '자산','당기순이익', '계속영업이익', '유동자산','유형자산']
dol_dfl_2.columns = ['회사명', '거래소코드', '회계년도', '매출액', '자산','당기순이익', '계속영업이익', '유동자산','유형자산']
# 결산월 12월만 남기기
dol_dfl_1 = dol_dfl.drop(dol_dfl[(dol_dfl['회계년도'] != '2010/12') & (dol_dfl['회계년도'] != '2011/12') & (dol_dfl['회계년도'] != '2012/12') & (dol_dfl['회계년도'] != '2013/12') & 
                      (dol_dfl['회계년도'] != '2014/12') & (dol_dfl['회계년도'] != '2015/12') & (dol_dfl['회계년도'] != '2016/12') & 
                      (dol_dfl['회계년도'] != '2017/12') & (dol_dfl['회계년도'] != '2018/12') & (dol_dfl['회계년도'] != '2019/12')].index)
                      
# 결산월 12월만 남기기(개별)
dol_dfl_3 = dol_dfl_2.drop(dol_dfl_2[(dol_dfl_2['회계년도'] != '2010/12') & (dol_dfl_2['회계년도'] != '2011/12') & (dol_dfl_2['회계년도'] != '2012/12') & (dol_dfl_2['회계년도'] != '2013/12') & 
                      (dol_dfl_2['회계년도'] != '2014/12') & (dol_dfl_2['회계년도'] != '2015/12') & (dol_dfl_2['회계년도'] != '2016/12') & 
                      (dol_dfl_2['회계년도'] != '2017/12') & (dol_dfl_2['회계년도'] != '2018/12') & (dol_dfl_2['회계년도'] != '2019/12')].index)
# 회계년도 월 삭제 & 숫자형으로 변환
dol_dfl_1['회계년도'] = dol_dfl_1['회계년도'].apply(lambda x: x.replace('/12', ''))
dol_dfl_1['회계년도'] = dol_dfl_1['회계년도'].astype('int64')

# 회계년도 월 삭제 & 숫자형으로 변환(개별)
dol_dfl_3['회계년도'] = dol_dfl_3['회계년도'].apply(lambda x: x.replace('/12', ''))
dol_dfl_3['회계년도'] = dol_dfl_3['회계년도'].astype('int64')
# 중복값 제거
dol_dfl_1.drop_duplicates(keep='first', inplace=True)

# 중복값 제거(개별)
dol_dfl_3.drop_duplicates(keep='first', inplace=True)
# 컬럼명 추출
dol_dfl_1 = dol_dfl_1[['회사명', '거래소코드', '회계년도', '매출액', '계속영업이익', '당기순이익']]

# 컬럼명 변경(개별)
dol_dfl_3 = dol_dfl_3[['회사명', '거래소코드', '회계년도', '매출액', '계속영업이익', '당기순이익']]

# 연결, 개별 통합
dol_dfl_통합 = dol_dfl_1.combine_first(dol_dfl_3)

# 파생변수 제작
dol_dfl_통합['영업이익변화율'] = dol_dfl_통합.groupby(['거래소코드'])['계속영업이익'].pct_change()
dol_dfl_통합['매출액변화율'] = dol_dfl_통합.groupby(['거래소코드'])['매출액'].pct_change()
dol_dfl_통합['당기순이익변화율'] = dol_dfl_통합.groupby(['거래소코드'])['당기순이익'].pct_change()

dol_dfl_통합['DOL'] = dol_dfl_통합['영업이익변화율'] / dol_dfl_통합['매출액변화율']
dol_dfl_통합['DFL'] = dol_dfl_통합['계속영업이익'] / dol_dfl_통합['당기순이익']

In [956]:
# DOL, DFL 값이 음수인 경우 1로 치환
for i in dol_dfl_통합.index:
    if dol_dfl_통합.loc[i, 'DOL'] < 0:
        dol_dfl_통합.loc[i, 'DOL'] = 1

for i in dol_dfl_통합.index:
    if dol_dfl_통합.loc[i, 'DFL'] < 0:
        dol_dfl_통합.loc[i, 'DFL'] = 1

In [957]:
# 2010년 데이터 삭제/필요컬럼만 추출
dol_dfl_통합 = dol_dfl_통합[dol_dfl_통합['회계년도'] > 2010]
dol_dfl_통합 = dol_dfl_통합[['회사명', '거래소코드', '회계년도', 'DOL', 'DFL']]
# 인덱스 정리
dol_dfl_통합.reset_index(drop=True, inplace=True)

In [958]:
# 데이터 저장
dol_dfl_통합.to_csv('../csv/doldfl_final.csv', index=False)

### 변수 파일들과 원본데이터 결합

In [966]:
# 데이터 로드
df_원본 = pd.read_csv('../csv/3차전처리.csv')
df_change_rate = pd.read_csv('../csv/변화율.csv')
df_altman = pd.read_csv('../csv/altman.csv')
df_DOLDFL = pd.read_csv('../csv/doldfl_final.csv')
df_EV_EBITDA = pd.read_csv('../csv/EV_EBITDA_amend.csv')
df_비율파생 = pd.read_csv('../csv/비율파생변수.csv')
df_시장정보데이터 = pd.read_csv('../csv/시장정보최종.csv')
# 기존데이터와 시장정보데이터의 회사명 불일치-> 회사명 drop
df_시장정보데이터.drop(columns='회사명', inplace=True)
# 원본데이터에 결합
merge_raw = pd.merge(df_원본, df_change_rate, how='left')
merge_raw2 = pd.merge(merge_raw, df_altman, how='left')
merge_raw3 = pd.merge(merge_raw2, df_DOLDFL, how='left')
merge_raw4 = pd.merge(merge_raw3, df_EV_EBITDA, how='left')
merge_raw5 = pd.merge(merge_raw4, df_비율파생, how='left')
merge_raw6 = pd.merge(merge_raw5, df_시장정보데이터, how='left')
# 필요 없는 컬럼 삭제
merge_raw6.drop(columns=['수정종가', '종가'], inplace=True)
# 컬럼 순서 정리
merge_raw6 = merge_raw6[['회사명', '거래소코드', '회계년도', '자기자본구성비율', '설비투자효율', '총자본투자효율', '이자보상배율(이자비용)',
       '유동비율', '당좌비율', '부채비율', '총자본정상영업이익률', '매출액정상영업이익률', '매출액순이익률',
       '자기자본순이익률', '매출채권회전률', '재고자산회전률', '총자본회전률', '순운전자본비율', '매출액증가율',
       '총자본증가율', '유동자산증가율', '유형자산증가율', '영업이익증가율', '순이익증가율', 'RETA', 'EBTA',
       'OM', '종업원수증가율', 'DOL', 'DFL', 'EV/EBITDA', '영업활동으로 인한 현금흐름', '금융비용부담률',
       '고정비율', 'R&D비율', '채무부담비율', '시가총액', '거래량회전율', '로그시가총액', '수정거래량',
       '거래량증가율', '시가총액증가율', '부실']]
df_Raw = merge_raw6.copy()

In [968]:
# 파일 저장
merge_raw6.to_csv('../csv/4차전처리.csv', index=False)

### 각 연도별 시가총액 100위 기업 제거

In [970]:
# 시가총액 평균 상위 100개 기업 추출
asset = pd.DataFrame(df_Raw.groupby('거래소코드')['시가총액'].mean()).reset_index()
top = asset.sort_values(by='시가총액', ascending=False)
top_2 = top.head(100)
b_1 = top_2['거래소코드']
# 시가총액 평균 상위 100개 기업 제거
for i in df_Raw.index:
    if df_Raw.loc[i, '거래소코드'] in b_1.values:
        df_Raw.drop(i, inplace=True)

In [972]:
# 최종 완성 데이터 결측치 제거 
df_Raw_drop = df_Raw.dropna()
df_Raw_drop.reset_index(drop=True, inplace=True)

In [973]:
# 데이터 저장
df_Raw_drop.to_csv('../csv/Tabnet_Raw.csv', index=0)

In [974]:
print(df_Raw['부실'].value_counts())
print(df_Raw_drop['부실'].value_counts())

0    12316
1      466
Name: 부실, dtype: int64
0    10014
1      442
Name: 부실, dtype: int64

In [975]:
df_Raw_drop.describe()

,거래소코드,회계년도,자기자본구성비율,설비투자효율,총자본투자효율,이자보상배율(이자비용),유동비율,당좌비율,부채비율,총자본정상영업이익률,...,고정비율,R&D비율,채무부담비율,시가총액,거래량회전율,로그시가총액,수정거래량,거래량증가율,시가총액증가율,부실
count,10456.000000,10456.000000,10456.000000,10456.000000,10456.000000,1.045600e+04,10456.000000,10456.000000,10456.000000,10456.000000,...,10456.000000,10456.000000,1.045600e+04,1.045600e+04,1.045600e+04,1.045600e+04,1.045600e+04,1.045600e+04,1.045600e+04,10456.000000
mean,56097.912204,2015.226951,55.719970,97.492329,19.917812,3.175211e+08,240.681036,194.926394,96.765366,3.195672,...,71.142582,2.349567,inf,1.516195e+12,inf,-inf,7.738093e+03,inf,inf,0.042272
std,53985.546917,2.591352,20.349973,1408.062024,38.067052,4.655343e+08,521.618164,507.299948,556.134813,7.863592,...,249.645477,13.235693,NaN,1.838432e+12,NaN,NaN,4.140845e+04,NaN,NaN,0.201220
min,20.000000,2011.000000,-25.910000,0.000000,-1721.300000,-1.147357e+04,8.940000,7.040000,0.000000,-84.730000,...,-13937.280505,-0.140831,0.000000e+00,0.000000e+00,0.000000e+00,-inf,0.000000e+00,-1.000000e+00,-1.000000e+00,0.000000
25%,11280.000000,2013.000000,40.280000,41.230000,12.640000,1.230000e+00,99.970000,69.597500,27.997500,0.580000,...,27.205553,0.000000,3.239237e+01,4.402022e+11,8.516245e-01,1.164365e+01,1.557599e+02,-4.142821e-01,-1.315718e-01,0.000000
50%,42500.000000,2015.000000,55.185000,57.035000,20.520000,8.100000e+00,149.155000,111.780000,57.965000,3.500000,...,53.291814,0.303042,6.773252e+01,8.764686e+11,1.972256e+00,1.194274e+01,6.468598e+02,-3.716964e-02,3.584739e-02,0.000000
75%,83450.000000,2018.000000,71.890000,73.240000,30.150000,1.000000e+09,247.905000,198.022500,108.792500,6.992500,...,92.425907,2.022039,1.570762e+02,1.814846e+12,4.341809e+00,1.225884e+01,2.909473e+03,7.198366e-01,2.861196e-01,0.000000
max,302430.000000,2019.000000,98.880000,116801.060000,454.050000,1.000000e+09,42687.720000,42354.180000,50259.950000,61.140000,...,17052.572004,793.844082,inf,2.198308e+13,inf,1.334209e+01,1.345120e+06,inf,inf,1.000000